<%= erb :_errors %>
<%= erb :_warnings %>

<div class="container stats-rollup">
    <h3>Successful <span class="label label-success"><%= @successful_jobs.count %></span></h3>
    <h3>Building <span class="label label-warning"><%= @building_jobs.count %></span></h3>
    <h3>Failed <span class="label label-danger"><%= @failed_jobs.count %></span></h3>
    <h3>Total <span class="label label-info"><%= @successful_jobs.count + @building_jobs.count + @failed_jobs.count %></span></h3>
</div>

<table class="table">
    <% @building_jobs.sort_by { |h| h['name'] }.each do |job| %>
    <tr class="building-job">
        <% weather = weather(job['healthReport'][0]['score']) %>
        <td>
            <img class="weather" src="<%= weather['src'] %>" alt="<%= weather['alt'] %>" data-toggle="tooltip" title="<%= weather['title'] %>"></img>
            <a href="<%= job['url'] %>"><%= job['name'] %></a>

            <div class="job_action">

            <% t = @job_progress.select { |h| h['job_name'] == job['name'] }[0]['eta'] %>
            <% p = @job_progress.select { |h| h['job_name'] == job['name'] }[0]['progress_pct'] %>
            <% mm, ss = t.divmod(60) unless t == -1 %>

            <%# if p is -1, the build is stuck %>
            <% if(p == -1) %>
            <span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Estimated time remaining"></span> <span class="infinity">&infin;</span>
            </div>
            <br class="clear" />
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"></div>
            <%# otherwise all is good %>
            <% else %>
            <span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Estimated time remaining"></span> <%= "%dm %ds" % [mm, ss] %>
            </div>
            <br class="clear" />
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= p %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= p %>%"></div>
            <% end %>

            </div>
        </td>
    </tr>
    <% end %>

    <% @failed_jobs.sort_by { |h| h['name'] }.each do |job| %>
    <tr class="failed-job">
        <% weather = weather(job['healthReport'][0]['score']) %>
        <td>
            <img class="weather" src="<%= weather['src'] %>" alt="<%= weather['alt'] %>" data-toggle="tooltip" title="<%= weather['title'] %>"></img>
            <a href="<%= job['url'] %>"><%= job['name'] %></a>

            <%
            # In waylon.rb, we populate an array of hashes for failed
            # jobs that includes the last build number and that build's
            # description. Using that logic, we can decide whether to
            # show a live button or a disabled one. The live button
            # will allow a user to 'investigate' the failed build by
            # updating the failed build's description. If the
            # description has already been updated, it will show a
            # disabled button and not allow the user to take further
            # action.
            %>
            <div class="job_action">
            <% if(@failed_builds.select { |h| h['job_name'] == job['name'] }[0]['is_under_investigation']) %>
                <a href="#" class="btn btn-default disabled" role="button">Under investigation</a>
            <% else %>
                <% this_server, _, this_job = job['url'].sub(/http[s]?:\/\//, '').split('/') %>
                <% this_build_num = @failed_builds.select { |h| h['job_name'] == job['name'] }[0]['build_number'] %>
                <a href="/view/<%= @this_view %>/<%= this_server %>/<%= this_job %>/<%= this_build_num %>/investigate" target="_blank" class="btn btn-default" role="button">Investigate</a>
            <% end %>
            </div>
        </td>
    </tr>
    <% end %>

    <% @successful_jobs.sort_by { |h| h['name'] }.each do |job| %>
    <tr class="successful-job">
        <% weather = weather(job['healthReport'][0]['score']) %>
        <td>
            <img class="weather" src="<%= weather['src'] %>" alt="<%= weather['alt'] %>" data-toggle="tooltip" title="<%= weather['title'] %>"></img>
            <a href="<%= job['url'] %>"><%= job['name'] %></a>
        </td>
    </tr>
    <% end %>

</table>
