<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="<%= refresh_interval %>">
<title>Waylon</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/waylon.css" rel="stylesheet">

<% # If all jobs are green, override the stylesheet with the CSS below %>
<% if(nirvana) %>
<style type="text/css">
body {
    background-image: url(<%= nirvana_img %>);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.navbar-fixed-top {
    background: #333;
    opacity: 0.5;
}
</style>
<% end %>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Waylon</span>
        </div>
    </div>
</div>

<% if(!nirvana) %>
<div class="container waylon">
    <br />

    <% if(!errors.empty?) %>
        <% errors.each do |error| %>
        <div class="alert alert-danger">
            <strong>Oh snap!</strong> <%= error %>
        </div>
        <% end %>
    <% end %>

    <div class="container stats-rollup">
        <h3>Successful <span class="label label-success"><%= successful_jobs.count %></span></h3>
        <h3>Building <span class="label label-warning"><%= building_jobs.count %></span></h3>
        <h3>Failed <span class="label label-danger"><%= failed_jobs.count %></span></h3>
        <h3>Total <span class="label label-info"><%= successful_jobs.count + building_jobs.count + failed_jobs.count %></span></h3>
    </div>

    <table class="table">
        <% building_jobs.sort_by { |h| h['name'] }.each do |job| %>
        <tr class="building-job">
            <td><a href="<%= job['url'] %>"><%= job['name'] %></a></td>
        </tr>
        <% end %>

        <% failed_jobs.sort_by { |h| h['name'] }.each do |job| %>
        <tr class="failed-job">
            <td><a href="<%= job['url'] %>"><%= job['name'] %></a></td>
        </tr>
        <% end %>

        <% successful_jobs.sort_by { |h| h['name'] }.each do |job| %>
        <tr class="successful-job">
            <td>
                <a href="<%= job['url'] %>"><%= job['name'] %></a>
            </td>
        </tr>
        <% end %>

    </table>
</div>
<% end %>

<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
